In [1]:
# !pip install -q boto3
# !pip install -q requests
# !pip install -q requests-aws4auth
# !pip install -q opensearch-py
# !pip install -q tqdm

# !pip install "faiss-cpu" --quiet
# !pip install langchain --quiet
# !pip install jq --quiet

In [1]:
import os
import sys
from langchain.document_loaders.json_loader import JSONLoader
from langchain.docstore.document import Document
import json
import re
from langchain.vectorstores import FAISS
from langchain.embeddings import BedrockEmbeddings
from functools import reduce
from langchain.prompts import PromptTemplate
from sqlalchemy import MetaData
from sqlalchemy import create_engine


import re
import pandas as pd
import numpy as np
import json
import sqlite3

with open(f'./tables.json', 'rb') as ofp:
    meta = json.load(ofp)
data = meta[0]

data = [i for i in meta if i['db_id'] == 'department_store']

data  = data[0]    
columns = data["column_names_original"]
col_df = pd.DataFrame(columns).iloc[1:]
col_df.rename(columns={0: 'table_idx', 1: 'col_name'}, inplace=True)
col_df

types_df = pd.DataFrame(data["column_types"]).iloc[1:]
types_df.rename(columns={0: 'type'}, inplace=True)
types_df

merged_col = pd.concat([col_df, types_df], axis=1)

tables_df = pd.DataFrame(data["table_names_original"])
tables_df.reset_index(inplace=True)
tables_df.columns = ['table_idx', 'table_name']

meta = pd.merge(tables_df, merged_col, on=['table_idx'])
meta = meta.drop(columns=['table_idx'])
meta.to_csv('./data/total_meta.csv', index=False)

In [2]:

def ask_llm(question):
    bedrock_model_id = "anthropic.claude-3-sonnet-20240229-v1:0"
    body = json.dumps({
                "anthropic_version": "bedrock-2023-05-31",
                "max_tokens": 1024,
                "temperature" : 0.1,
                "top_p": 0.5,
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {"type": "text", "text": question},
                        ],
                    }
                ],
            }) 

    response = bedrock.invoke_model(
        body=body, 
        modelId=bedrock_model_id,
        accept='application/json',
        contentType='application/json') #payload를 Bedrock으로 전송

    response_body = json.loads(response.get("body").read())
    llm_output = response_body.get("content")[0].get("text")
    return llm_output

In [5]:
# Create new docs with the right metadata we need for indexing
def create_docs_with_correct_metadata(documents):
    # We are going to return a list of new documents
    new_docs = []

    # For each document
    for doc in documents:
        # Get it's metadata and contents
        metadata = doc.metadata
        contents = json.loads(doc.page_content)

        # Now calculate the new metadata that we want to add
        new_metadata = {
            "tableName": contents["tableName"],
            "question": contents["question"],
            "tableSchema": contents["tableSchema"],
        }

        # Print out the new metadata for our documents
        # print(new_metadata)

        new_docs.append(
            Document(page_content=new_metadata["question"], metadata=new_metadata)
        )

    return new_docs

def load_json_file(filename):
    loader = JSONLoader(file_path=filename, jq_schema=".[]", text_content=False)

    # This is our internal Langchain document data structure
    docs = loader.load()
    return docs

In [72]:
def write_questions_to_file(question_list_filename, table_name, table_schema, sql_query, answer):
    data_list = []
    question_list_obj = answer
    questions_list = question_list_obj.splitlines()
    # Open the file in write mode
    with open(question_list_filename, mode="w", newline="") as file:
        for question in questions_list:

            # Skip if it doesn't really have a question
            if "?" not in question:
                continue

            questionSplit = re.split(r"\d{1,5}.||. ||- ", question, maxsplit=1)
            question = questionSplit[1]
            data = {
                "sql_query": sql_query,
                "tableName": table_name,
                "question": question,
                "tableSchema": table_schema.lstrip(" "),
            }
            data_list.append(data)

        json.dump(data_list, file)

In [69]:
# This function asks the LLM to inspect a table schema, generate some questions which could be answered
# by that schema, and then it stores those questions to file, loads them all into a single vectorDB
def add_new_table(idx, sql_query, schema, table_name, is_incremental, bedrock_embeddings):
    """
    :schema         :   
    :table_name     :
    :model_id       :
    :is_incremental :
    """
    print(f"Adding table {table_name} with schema {schema}")
    
    question = f"""
        ### Instruction:
        You are an AI trained to generate potential user questions based on an SQL query. Below is an example SQL query. Generate a possible natural language question that users might have asked to produce such an SQL query.

        ### Example SQL Query:
        SELECT e.FirstName, e.LastName, d.DepartmentName, e.Salary
        FROM Employee e
        JOIN Department d ON e.DepartmentID = d.DepartmentID
        WHERE e.Salary > 70000;

        ### Corresponding Question:
        What are the names and departments of employees who earn more than $70,000?

        ### Task:
        Generate possible natural language questions based on the following SQL query.

        ### Input SQL Query:
        {sql_query}

        ### Output Question:
        """
       
    answer = ask_llm(question)
    os.makedirs('./data/rag', exist_ok=True)
    question_list_filename = f"./data/rag/questionList_{table_name}_{idx}.json"

    # # Get rid of anything before the 1.
    # if re.match(r"^[^\d+]\. ", answer) and re.search(r"\d+\. ", answer):
    #     answer = "1. " + answer.split("1. ")[1]
    # else:
    #     answer = "1. " + answer

    print(
        f"Writing questions to {question_list_filename}, with schema {schema}, with table name {table_name} and answer {answer}.\n\n"
    )

    write_questions_to_file(question_list_filename, table_name, schema, sql_query, answer)

In [50]:
import re

def extract_table_name(sql_query):
    # Regular expression to find the table name after the FROM keyword
    match = re.search(r'FROM\s+([^\s,;]+)', sql_query, re.IGNORECASE)
    if match:
        return match.group(1)
    return None



answer_path = './evaluation/answer.txt'

with open(answer_path) as f:
    alist = [l.strip().split('\t')[0] for l in f.readlines()]
alist = pd.DataFrame(alist, columns=['query'])
alist['lower_table'] = alist['query'].apply(lambda x: extract_table_name(x).lower())

In [54]:
new_meta = meta.groupby(['table_name'])['col_name'].apply(list).reset_index()
new_meta = new_meta.set_index('table_name')

tpc_ds = []
for idx, row in new_meta.iterrows():
    v = [('|').join(row.values[0]), idx]
    print(v)
    tpc_ds.append(v)

['address_id|address_details', 'Addresses']
['customer_id|address_id|date_from|date_to', 'Customer_Addresses']
['order_id|customer_id|order_status_code|order_date', 'Customer_Orders']
['customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email', 'Customers']
['dept_store_chain_id|dept_store_chain_name', 'Department_Store_Chain']
['dept_store_id|dept_store_chain_id|store_name|store_address|store_phone|store_email', 'Department_Stores']
['department_id|dept_store_id|department_name', 'Departments']
['order_item_id|order_id|product_id', 'Order_Items']
['product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased', 'Product_Suppliers']
['product_id|product_type_code|product_name|product_price', 'Products']
['staff_id|staff_gender|staff_name', 'Staff']
['staff_id|department_id|date_assigned_from|job_title_code|date_assigned_to', 'Staff_Department_Assignments']
['supplier_id|address_id|date_from|date_to', 'Supplier_Addresses']
['supplier_id|supplier_name|supplier_phone', 'Suppliers']

In [56]:
tpc_ds = pd.DataFrame(tpc_ds, columns=['column', 'table'])
tpc_ds['lower_table'] = tpc_ds['table'].apply(lambda x: x.lower())

tpc_ds = pd.merge(alist, tpc_ds, on='lower_table')
tpc_ds = tpc_ds.drop(columns = ['lower_table'])

In [65]:
import boto3
from botocore.config import Config

bedrock_region = athena_region = boto3.session.Session().region_name
retry_config = Config(retries = {'max_attempts': 100})
session = boto3.Session(region_name=bedrock_region)
bedrock = session.client('bedrock-runtime', region_name=bedrock_region, config=retry_config)

In [73]:
from langchain.embeddings import BedrockEmbeddings
from functools import reduce

# model_name = 'Titan-Embeddings-G1'
bedrock_embeddings = BedrockEmbeddings(client=bedrock)
for idx, x in tpc_ds.iterrows():
    print(x)
    add_new_table(
        idx=idx,
        sql_query=x['query'],
        schema=x['column'], 
        table_name=x['table'],
        is_incremental=True, 
        bedrock_embeddings=bedrock_embeddings
    )
    print('-------------------')

query     SELECT product_id FROM product_suppliers ORDER...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 0, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_0.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer What are the top 3 products with the highest total amount purchased from suppliers?.


-------------------
query     SELECT product_id FROM product_suppliers ORDER...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 1, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_1.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer What are the top 3 products with the highest total amount purchased from suppliers?.


-------------------
query     SELECT product_id ,  product_type_code FROM pr...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 2, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_2.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What is the product ID and product type code of the product with the lowest price?.


-------------------
query     SELECT product_id ,  product_type_code FROM pr...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 3, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_3.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What is the product ID and product type code of the product with the lowest price?.


-------------------
query     SELECT count(DISTINCT product_type_code) FROM ...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 4, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_4.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer How many distinct product types are there?.


-------------------
query     SELECT count(DISTINCT product_type_code) FROM ...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 5, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_5.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer How many distinct product types are there?.


-------------------
query     SELECT T1.address_details FROM addresses AS T1...
column                           address_id|address_details
table                                             Addresses
Name: 6, dtype: object
Adding table Addresses with schema address_id|address_details
Writing questions to ./data/rag/questionList_Addresses_6.json, with schema address_id|address_details, with table name Addresses and answer A possible natural language question for the given SQL query could be:

"What are the address details for the customer with ID 10?".


-------------------
query     SELECT T1.address_details FROM addresses AS T1...
column                           address_id|address_details
table                                             Addresses
Name: 7, dtype: object
Adding table Addresses with schema address_id|address_details
Writing questions to ./data/rag/questionList_Addresses_7.json, with schema address_id|address_details, with table name Addresses and answer A possible natural language question for the given SQL query could be:

"What are the address details for the customer with ID 10?".


-------------------
query     SELECT T1.staff_id ,  T1.staff_gender FROM sta...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 8, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_8.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer A possible natural language question for the given SQL query could be:

"What are the staff IDs and genders of employees who are assigned as Department Managers?".


-------------------
query     SELECT T1.staff_id ,  T1.staff_gender FROM sta...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 9, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_9.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer A possible natural language question for the given SQL query could be:

"What are the staff IDs and genders of employees who are assigned as Department Managers?".


-------------------
query     SELECT payment_method_code ,  count(*) FROM cu...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 10, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_10.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question that could correspond to the given SQL query is:

"How many customers are there for each payment method?"

This query groups the customers by their payment method code and counts the number of customers for each payment method code. The resulting output would show the different payment method codes and the count of customers using each payment method..


-------------------
query     SELECT payment_method_code ,  count(*) FROM cu...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 11, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_11.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question that could correspond to the given SQL query is:

"How many customers are there for each payment method?"

This query groups the customers by their payment method code and counts the number of customers for each payment method code. The resulting output would show the different payment method codes and the count of customers using each payment method..


-------------------
query     SELECT product_id FROM order_items GROUP BY pr...
column                    order_item_id|order_id|product_id
table                                           Order_Items
Name: 12, dtype: object
Adding table Order_Items with schema order_item_id|order_id|product_id
Writing questions to ./data/rag/questionList_Order_Items_12.json, with schema order_item_id|order_id|product_id, with table name Order_Items and answer A possible natural language question that could correspond to the given SQL query is:

"What is the most frequently ordered product?"

Explanation:
- The query `SELECT product_id FROM order_items` selects the product IDs from the `order_items` table.
- `GROUP BY product_id` groups the rows by the product ID.
- `ORDER BY count(*) DESC` orders the groups by the count of rows in each group in descending order.
- `LIMIT 1` takes only the first row, which will be the group with the highest count, i.e., the most frequently ordered product.

Therefore, the query is finding the product ID of the product that appears the most times in the `order_items` table, which corresponds to the most frequently ordered product..


-------------------
query     SELECT product_id FROM order_items GROUP BY pr...
column                    order_item_id|order_id|product_id
table                                           Order_Items
Name: 13, dtype: object
Adding table Order_Items with schema order_item_id|order_id|product_id

Writing questions to ./data/rag/questionList_Order_Items_13.json, with schema order_item_id|order_id|product_id, with table name Order_Items and answer A possible natural language question that could produce the given SQL query is:

"What is the most frequently ordered product?"

Explanation:
- The query `SELECT product_id FROM order_items` selects the product IDs from the `order_items` table.
- `GROUP BY product_id` groups the rows by product ID.
- `ORDER BY count(*) DESC` orders the groups by the count of rows in each group in descending order.
- `LIMIT 1` takes only the first row, which will be the product ID with the highest count (i.e., the most frequently ordered product).

Therefore, the query is finding the product ID of the most frequently ordered product, which aligns with the question "What is the most frequently ordered product?"..


-------------------
query     SELECT T1.customer_name ,  T1.customer_phone ,...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 14, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_14.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer What is the name, phone number, and email address of the customer who has placed the most orders?.


-------------------
query     SELECT T1.customer_name ,  T1.customer_phone ,...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 15, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_15.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer What is the name, phone number, and email address of the customer who has placed the most orders?.


-------------------
query     SELECT product_type_code ,  avg(product_price)...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 16, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_16.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer A possible natural language question that could correspond to the given SQL query is:

"What is the average price of products for each product type?".


-------------------
query     SELECT product_type_code ,  avg(product_price)...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 17, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_17.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer A possible natural language question that could correspond to the given SQL query is:

"What is the average price of products for each product type?".


-------------------
query     SELECT count(*) FROM department_stores AS T1 J...
column    dept_store_id|dept_store_chain_id|store_name|s...
table                                     Department_Stores
Name: 18, dtype: object
Adding table Department_Stores with schema dept_store_id|dept_store_chain_id|store_name|store_address|store_phone|store_email
Writing questions to ./data/rag/questionList_Department_Stores_18.json, with schema dept_store_id|dept_store_chain_id|store_name|store_address|store_phone|store_email, with table name Department_Stores and answer How many department stores belong to the department store chain named "South"?.


-------------------
query     SELECT count(*) FROM department_stores AS T1 J...
column    dept_store_id|dept_store_chain_id|store_name|s...
table                                     Department_Stores
Name: 19, dtype: object
Adding table Department_Stores with schema dept_store_id|dept_store_chain_id|store_name|store_address|store_phone|store_email
Writing questions to ./data/rag/questionList_Department_Stores_19.json, with schema dept_store_id|dept_store_chain_id|store_name|store_address|store_phone|store_email, with table name Department_Stores and answer How many department stores belong to the department store chain named "South"?.


-------------------
query     SELECT T1.staff_name ,  T2.job_title_code FROM...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 20, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_20.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer A possible natural language question for the given SQL query could be:

"What is the name and most recent job title of each staff member?".


-------------------
query     SELECT T1.staff_name ,  T2.job_title_code FROM...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 21, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_21.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer A possible natural language question that could correspond to the given SQL query is:

"What is the name and most recent job title of each staff member?".


-------------------
query     SELECT T2.product_type_code ,  T2.product_name...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 22, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_22.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer A possible natural language question for the given SQL query could be:

"What are the product types, names, and prices of products supplied by the supplier with ID 3?".


-------------------
query     SELECT T2.product_type_code ,  T2.product_name...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 23, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_23.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer A possible natural language question for the given SQL query could be:

"What are the product types, names, and prices of products supplied by the supplier with ID 3?".


-------------------
query     SELECT DISTINCT T1.customer_name FROM customer...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 24, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_24.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question for the given SQL query could be:

"What are the distinct customer names who have pending orders, ordered by their customer ID?".


-------------------
query     SELECT DISTINCT T1.customer_name FROM customer...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 25, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email

Writing questions to ./data/rag/questionList_Customers_25.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question for the given SQL query could be:

"What are the distinct customer names who have pending orders, ordered by their customer ID?".


-------------------
query     SELECT T1.customer_name ,  T1.customer_address...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 26, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_26.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer Possible natural language questions based on the given SQL query:

1. What are the names and addresses of customers who have both new and pending orders?

2. Retrieve the customer details for those who have orders in the "New" status as well as orders in the "Pending" status.

3. Get the list of customers with orders in multiple statuses, specifically "New" and "Pending".

4. Which customers have orders that are currently in the "New" and "Pending" stages?

5. Display the customer name and address for those who have placed orders that are yet to be processed (status "New") and orders that are currently being processed (status "Pending")..


-------------------
query     SELECT T1.customer_name ,  T1.customer_address...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 27, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_27.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer Possible natural language questions based on the given SQL query:

1. What are the names and addresses of customers who have both new and pending orders?

2. Retrieve the customer details for those who have orders in the "New" status as well as orders in the "Pending" status.

3. Get the list of customers with orders in multiple statuses, specifically "New" and "Pending".

4. Which customers have orders that are currently in the "New" and "Pending" stages?

5. Display the customer name and address for those who have placed orders that are yet to be processed (status "New") and orders that are currently being processed (status "Pending")..


-------------------
query     SELECT T1.product_id FROM product_suppliers AS...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 28, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_28.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer Here are some possible natural language questions that could correspond to the given SQL query:

1. What are the product IDs of the products supplied by the supplier with ID 2 and have a price higher than the average product price?

2. For the supplier with ID 2, which of their products have a price above the average price across all products?

3. Retrieve the product IDs of the expensive products (priced above the average) that are supplied by supplier number 2.

4. From the products supplied by supplier 2, which ones have a price higher than the overall average product price?

5. Get me the product IDs of the high-priced products (compared to the average price) that come from supplier 2.

The key elements in the query that these questions try to capture are:
1) Joining the product_suppliers and products tables
2) Filtering for supplier with ID 2
3) Filtering for products with price higher than the average price across all products
4) Selecting only the product_id column.


-------------------
query     SELECT T1.product_id FROM product_suppliers AS...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 29, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_29.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer Here are some possible natural language questions that could correspond to the given SQL query:

1. What are the product IDs of the products supplied by the supplier with ID 2 and have a price higher than the average product price?

2. For the supplier with ID 2, which of their products have a price above the average price across all products?

3. Retrieve the product IDs of the expensive products (priced above the average) that are supplied by the supplier with ID 2.

4. From the products supplied by supplier 2, which ones have a price higher than the overall average product price?

5. Get me the product IDs of the high-priced products (compared to the average price) that are sourced from supplier 2.

The key elements in the query that these questions try to capture are:
1) Joining the product_suppliers and products tables
2) Filtering for supplier with ID 2
3) Filtering for products with price higher than the average price across all products
4) Selecting only the product_id column.


-------------------
query     SELECT T2.dept_store_id ,  T2.store_name FROM ...
column          department_id|dept_store_id|department_name
table                                           Departments
Name: 30, dtype: object
Adding table Departments with schema department_id|dept_store_id|department_name
Writing questions to ./data/rag/questionList_Departments_30.json, with schema department_id|dept_store_id|department_name, with table name Departments and answer What are the department store IDs and names of stores that have both a marketing department and a managing department?.


-------------------
query     SELECT T2.dept_store_id ,  T2.store_name FROM ...
column          department_id|dept_store_id|department_name
table                                           Departments
Name: 31, dtype: object
Adding table Departments with schema department_id|dept_store_id|department_name
Writing questions to ./data/rag/questionList_Departments_31.json, with schema department_id|dept_store_id|department_name, with table name Departments and answer What are the department store IDs and names of stores that have both a marketing department and a managing department?.


-------------------
query     SELECT dept_store_chain_id FROM department_sto...
column    dept_store_id|dept_store_chain_id|store_name|s...
table                                     Department_Stores
Name: 32, dtype: object
Adding table Department_Stores with schema dept_store_id|dept_store_chain_id|store_name|store_address|store_phone|store_email
Writing questions to ./data/rag/questionList_Department_Stores_32.json, with schema dept_store_id|dept_store_chain_id|store_name|store_address|store_phone|store_email, with table name Department_Stores and answer A possible natural language question for the given SQL query could be:

"What are the top 2 department store chains with the most number of stores?".


-------------------
query     SELECT dept_store_chain_id FROM department_sto...
column    dept_store_id|dept_store_chain_id|store_name|s...
table                                     Department_Stores
Name: 33, dtype: object
Adding table Department_Stores with schema dept_store_id|dept_store_chain_id|store_name|store_address|store_phone|store_email

Writing questions to ./data/rag/questionList_Department_Stores_33.json, with schema dept_store_id|dept_store_chain_id|store_name|store_address|store_phone|store_email, with table name Department_Stores and answer A possible natural language question for the given SQL query could be:

"What are the top 2 department store chains with the most number of stores?".


-------------------
query     SELECT department_id FROM staff_department_ass...
column    staff_id|department_id|date_assigned_from|job_...
table                          Staff_Department_Assignments
Name: 34, dtype: object
Adding table Staff_Department_Assignments with schema staff_id|department_id|date_assigned_from|job_title_code|date_assigned_to
Writing questions to ./data/rag/questionList_Staff_Department_Assignments_34.json, with schema staff_id|department_id|date_assigned_from|job_title_code|date_assigned_to, with table name Staff_Department_Assignments and answer A possible natural language question that could produce the given SQL query is:

"Which department has the most staff members assigned to it?".


-------------------
query     SELECT department_id FROM staff_department_ass...
column    staff_id|department_id|date_assigned_from|job_...
table                          Staff_Department_Assignments
Name: 35, dtype: object
Adding table Staff_Department_Assignments with schema staff_id|department_id|date_assigned_from|job_title_code|date_assigned_to
Writing questions to ./data/rag/questionList_Staff_Department_Assignments_35.json, with schema staff_id|department_id|date_assigned_from|job_title_code|date_assigned_to, with table name Staff_Department_Assignments and answer A possible natural language question that could produce the given SQL query is:

"Which department has the most staff members assigned to it?".


-------------------
query     SELECT product_type_code ,  max(product_price)...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 36, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_36.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer A possible natural language question for the given SQL query could be:

"What are the maximum and minimum product prices for each product type?".


-------------------
query     SELECT product_type_code ,  max(product_price)...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 37, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_37.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer A possible natural language question for the given SQL query could be:

"What are the maximum and minimum product prices for each product type?".


-------------------
query     SELECT product_type_code FROM products GROUP B...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 38, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_38.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What are the product type codes for products whose average price is higher than the overall average price of all products?.


-------------------
query     SELECT product_type_code FROM products GROUP B...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 39, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_39.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What are the product type codes for products whose average price is higher than the overall average price of all products?.


-------------------
query     SELECT T1.staff_id ,  T1.staff_name FROM staff...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 40, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_40.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer Based on the given SQL query, a possible natural language question could be:

"Which staff member has been assigned to a department for the shortest duration?"

Explanation:
- The query selects the `staff_id` and `staff_name` columns from the `staff` table (aliased as `T1`).
- It joins the `Staff_Department_Assignments` table (aliased as `T2`) on the `staff_id` column.
- The result is ordered by the difference between `date_assigned_to` and `date_assigned_from` columns, which likely represent the start and end dates of a staff member's assignment to a department.
- The `LIMIT 1` clause retrieves only the first row, which would be the staff member with the smallest difference between the assignment start and end dates, i.e., the shortest duration.

Therefore, the query seems to be finding the staff member who has been assigned to a department for the shortest period, which aligns with the generated question..


-------------------
query     SELECT T1.staff_id ,  T1.staff_name FROM staff...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 41, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_41.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer Based on the given SQL query, a possible natural language question could be:

"Which staff member has been assigned to a department for the shortest duration?"

Explanation:
- The query selects the `staff_id` and `staff_name` columns from the `staff` table (aliased as `T1`).
- It joins the `Staff_Department_Assignments` table (aliased as `T2`) on the `staff_id` column.
- The result is ordered by the difference between `date_assigned_to` and `date_assigned_from` columns, which likely represent the start and end dates of a staff member's assignment to a department.
- The `LIMIT 1` clause retrieves only the first row, which would be the staff member with the smallest difference between the assignment start and end dates, i.e., the shortest duration.

Therefore, the query seems to be finding the staff member who has been assigned to a department for the shortest period, which aligns with the generated question..


-------------------
query     SELECT product_name ,  product_id FROM product...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 42, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_42.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What are the names and IDs of products with prices ranging from $600 to $700?.


-------------------
query     SELECT product_name ,  product_id FROM product...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 43, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_43.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What are the names and IDs of products with prices ranging from $600 to $700?.


-------------------
query     SELECT DISTINCT customer_id FROM Customer_Orde...
column    order_id|customer_id|order_status_code|order_date
table                                       Customer_Orders
Name: 44, dtype: object
Adding table Customer_Orders with schema order_id|customer_id|order_status_code|order_date

Writing questions to ./data/rag/questionList_Customer_Orders_44.json, with schema order_id|customer_id|order_status_code|order_date, with table name Customer_Orders and answer A possible natural language question that could correspond to the given SQL query is:

"What are the distinct customer IDs that have placed orders after the earliest order cancellation date?".


-------------------
query     SELECT DISTINCT customer_id FROM Customer_Orde...
column    order_id|customer_id|order_status_code|order_date
table                                       Customer_Orders
Name: 45, dtype: object
Adding table Customer_Orders with schema order_id|customer_id|order_status_code|order_date
Writing questions to ./data/rag/questionList_Customer_Orders_45.json, with schema order_id|customer_id|order_status_code|order_date, with table name Customer_Orders and answer A possible natural language question that could correspond to the given SQL query is:

"What are the distinct customer IDs that have placed orders after the earliest cancelled order date?".


-------------------
query     SELECT staff_id FROM Staff_Department_Assignme...
column    staff_id|department_id|date_assigned_from|job_...
table                          Staff_Department_Assignments
Name: 46, dtype: object
Adding table Staff_Department_Assignments with schema staff_id|department_id|date_assigned_from|job_title_code|date_assigned_to
Writing questions to ./data/rag/questionList_Staff_Department_Assignments_46.json, with schema staff_id|department_id|date_assigned_from|job_title_code|date_assigned_to, with table name Staff_Department_Assignments and answer A possible natural language question for the given SQL query could be:

"What are the staff IDs of employees who were assigned to their departments before the most recent assignment of a Clerical Staff employee?".


-------------------
query     SELECT staff_id FROM Staff_Department_Assignme...
column    staff_id|department_id|date_assigned_from|job_...
table                          Staff_Department_Assignments
Name: 47, dtype: object
Adding table Staff_Department_Assignments with schema staff_id|department_id|date_assigned_from|job_title_code|date_assigned_to
Writing questions to ./data/rag/questionList_Staff_Department_Assignments_47.json, with schema staff_id|department_id|date_assigned_from|job_title_code|date_assigned_to, with table name Staff_Department_Assignments and answer A possible natural language question for the given SQL query could be:

"What are the staff IDs of employees who were assigned to their departments before the most recent assignment date for Clerical Staff?".


-------------------
query     SELECT customer_name ,  customer_id FROM custo...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 48, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_48.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer What are the names and IDs of customers whose addresses are located in Tennessee?.


-------------------
query     SELECT customer_name ,  customer_id FROM custo...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 49, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_49.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer What are the names and IDs of customers whose addresses are located in Tennessee?.


-------------------
query     SELECT T1.staff_name ,  T1.staff_gender FROM s...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 50, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_50.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer A possible natural language question for the given SQL query could be:

"What are the names and genders of staff members who were assigned to departments in 2016?".


-------------------
query     SELECT T1.staff_name ,  T1.staff_gender FROM s...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 51, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_51.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer A possible natural language question for the given SQL query could be:

"What are the names and genders of staff members who were assigned to departments in 2016?".


-------------------
query     SELECT T1.staff_name FROM staff AS T1 JOIN sta...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 52, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_52.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer A possible natural language question that could correspond to the given SQL query is:

"What are the names of staff members who are assigned to more than one department?".


-------------------
query     SELECT T1.staff_name FROM staff AS T1 JOIN sta...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 53, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_53.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer A possible natural language question that could correspond to the given SQL query is:

"What are the names of staff members who are assigned to more than one department?".


-------------------
query     SELECT T1.supplier_name ,  T1.supplier_phone F...
column             supplier_id|supplier_name|supplier_phone
table                                             Suppliers
Name: 54, dtype: object
Adding table Suppliers with schema supplier_id|supplier_name|supplier_phone
Writing questions to ./data/rag/questionList_Suppliers_54.json, with schema supplier_id|supplier_name|supplier_phone, with table name Suppliers and answer What are the names and phone numbers of suppliers, ordered by their address details?.


-------------------
query     SELECT T1.supplier_name ,  T1.supplier_phone F...
column             supplier_id|supplier_name|supplier_phone
table                                             Suppliers
Name: 55, dtype: object
Adding table Suppliers with schema supplier_id|supplier_name|supplier_phone
Writing questions to ./data/rag/questionList_Suppliers_55.json, with schema supplier_id|supplier_name|supplier_phone, with table name Suppliers and answer What are the names and phone numbers of suppliers, ordered by their address details?.


-------------------
query     SELECT customer_phone FROM customers UNION SEL...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 56, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_56.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question that could produce the given SQL query is:

"What are all the unique phone numbers present in the customers and suppliers tables?".


-------------------
query     SELECT customer_phone FROM customers UNION SEL...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 57, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email

Writing questions to ./data/rag/questionList_Customers_57.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question that could produce the given SQL query is:

"What are all the unique phone numbers present in the customers and suppliers tables?".


-------------------
query     SELECT product_id FROM Order_Items GROUP BY pr...
column                    order_item_id|order_id|product_id
table                                           Order_Items
Name: 58, dtype: object
Adding table Order_Items with schema order_item_id|order_id|product_id
Writing questions to ./data/rag/questionList_Order_Items_58.json, with schema order_item_id|order_id|product_id, with table name Order_Items and answer A possible natural language question for the given SQL query could be:

"Which products have been ordered more than 3 times or have a total amount purchased greater than $80,000 from suppliers?".


-------------------
query     SELECT product_id FROM Order_Items GROUP BY pr...
column                    order_item_id|order_id|product_id
table                                           Order_Items
Name: 59, dtype: object
Adding table Order_Items with schema order_item_id|order_id|product_id
Writing questions to ./data/rag/questionList_Order_Items_59.json, with schema order_item_id|order_id|product_id, with table name Order_Items and answer A possible natural language question for the given SQL query could be:

"Which products have been ordered more than 3 times or have a total amount purchased greater than $80,000 from suppliers?".


-------------------
query     SELECT product_id ,  product_name FROM product...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 60, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_60.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer A possible natural language question for the given SQL query could be:

"What are the product IDs and names of products whose prices are either less than $600 or greater than $900?".


-------------------
query     SELECT product_id ,  product_name FROM product...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 61, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_61.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer A possible natural language question for the given SQL query could be:

"What are the product IDs and names of products whose prices are either less than $600 or greater than $900?".


-------------------
query     SELECT supplier_id FROM Product_Suppliers GROU...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 62, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_62.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer A possible natural language question for the given SQL query could be:

"Which suppliers have an average total amount purchased either greater than $50,000 or less than $30,000?".


-------------------
query     SELECT supplier_id FROM Product_Suppliers GROU...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 63, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_63.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer A possible natural language question for the given SQL query could be:

"Which suppliers have an average total amount purchased either greater than $50,000 or less than $30,000?".


-------------------
query     SELECT avg(total_amount_purchased) ,  avg(tota...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 64, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_64.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer What are the average total amount purchased and average total value purchased from the supplier who has supplied the most products?.


-------------------
query     SELECT avg(total_amount_purchased) ,  avg(tota...
column    product_id|supplier_id|date_supplied_from|date...
table                                     Product_Suppliers
Name: 65, dtype: object
Adding table Product_Suppliers with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased
Writing questions to ./data/rag/questionList_Product_Suppliers_65.json, with schema product_id|supplier_id|date_supplied_from|date_supplied_to|total_amount_purchased|total_value_purchased, with table name Product_Suppliers and answer What are the average total amount purchased and average total value purchased from the supplier who has supplied the most products?.


-------------------
query     SELECT max(customer_code) ,  min(customer_code...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 66, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_66.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question that could correspond to the given SQL query is:

"What are the highest and lowest customer code values in the Customers table?".


-------------------
query     SELECT max(customer_code) ,  min(customer_code...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 67, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_67.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question that could correspond to the given SQL query is:

"What are the highest and lowest customer code values in the Customers table?".


-------------------
query     SELECT DISTINCT T1.customer_name FROM customer...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 68, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_68.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer What are the distinct customer names who have ordered the product "keyboard"?.


-------------------
query     SELECT DISTINCT T1.customer_name FROM customer...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 69, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email

Writing questions to ./data/rag/questionList_Customers_69.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer What are the distinct customer names who have ordered a product named "keyboard"?.


-------------------
query     SELECT DISTINCT T1.supplier_name ,  T1.supplie...
column             supplier_id|supplier_name|supplier_phone
table                                             Suppliers
Name: 70, dtype: object
Adding table Suppliers with schema supplier_id|supplier_name|supplier_phone
Writing questions to ./data/rag/questionList_Suppliers_70.json, with schema supplier_id|supplier_name|supplier_phone, with table name Suppliers and answer What are the distinct supplier names and phone numbers for suppliers who provide the product "red jeans"?.


-------------------
query     SELECT DISTINCT T1.supplier_name ,  T1.supplie...
column             supplier_id|supplier_name|supplier_phone
table                                             Suppliers
Name: 71, dtype: object
Adding table Suppliers with schema supplier_id|supplier_name|supplier_phone
Writing questions to ./data/rag/questionList_Suppliers_71.json, with schema supplier_id|supplier_name|supplier_phone, with table name Suppliers and answer What are the distinct supplier names and phone numbers for suppliers who provide the product "red jeans"?.


-------------------
query     SELECT max(product_price) ,  min(product_price...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 72, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_72.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What are the maximum and minimum prices for each product type, ordered by product type code?.


-------------------
query     SELECT max(product_price) ,  min(product_price...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 73, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_73.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What are the maximum and minimum prices for each product type, ordered by product type code?.


-------------------
query     SELECT order_id ,  customer_id FROM customer_o...
column    order_id|customer_id|order_status_code|order_date
table                                       Customer_Orders
Name: 74, dtype: object
Adding table Customer_Orders with schema order_id|customer_id|order_status_code|order_date
Writing questions to ./data/rag/questionList_Customer_Orders_74.json, with schema order_id|customer_id|order_status_code|order_date, with table name Customer_Orders and answer A possible natural language question for the given SQL query could be:

"What are the order IDs and customer IDs for the orders that were cancelled, sorted by the order date?".


-------------------
query     SELECT order_id ,  customer_id FROM customer_o...
column    order_id|customer_id|order_status_code|order_date
table                                       Customer_Orders
Name: 75, dtype: object
Adding table Customer_Orders with schema order_id|customer_id|order_status_code|order_date
Writing questions to ./data/rag/questionList_Customer_Orders_75.json, with schema order_id|customer_id|order_status_code|order_date, with table name Customer_Orders and answer A possible natural language question for the given SQL query could be:

"What are the order IDs and customer IDs for the orders that were cancelled, sorted by the order date?".


-------------------
query     SELECT DISTINCT T3.product_name FROM customer_...
column    order_id|customer_id|order_status_code|order_date
table                                       Customer_Orders
Name: 76, dtype: object
Adding table Customer_Orders with schema order_id|customer_id|order_status_code|order_date
Writing questions to ./data/rag/questionList_Customer_Orders_76.json, with schema order_id|customer_id|order_status_code|order_date, with table name Customer_Orders and answer What are the distinct product names that have been ordered by at least 2 different customers?.


-------------------
query     SELECT DISTINCT T3.product_name FROM customer_...
column    order_id|customer_id|order_status_code|order_date
table                                       Customer_Orders
Name: 77, dtype: object
Adding table Customer_Orders with schema order_id|customer_id|order_status_code|order_date
Writing questions to ./data/rag/questionList_Customer_Orders_77.json, with schema order_id|customer_id|order_status_code|order_date, with table name Customer_Orders and answer What are the distinct product names that have been ordered by at least 2 different customers?.


-------------------
query     SELECT DISTINCT T1.customer_name FROM customer...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 78, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_78.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer Here is a possible natural language question for the given SQL query:

What are the distinct customer names who have ordered at least 3 different products?.


-------------------
query     SELECT DISTINCT T1.customer_name FROM customer...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 79, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_79.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer Here is a possible natural language question for the given SQL query:

What are the distinct customer names who have ordered at least 3 different products?.


-------------------
query     SELECT T1.staff_name ,  T1.staff_gender FROM s...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 80, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_80.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer What are the names and genders of staff members who are sales persons but not clerical staff?.


-------------------
query     SELECT T1.staff_name ,  T1.staff_gender FROM s...
column                     staff_id|staff_gender|staff_name
table                                                 Staff
Name: 81, dtype: object
Adding table Staff with schema staff_id|staff_gender|staff_name
Writing questions to ./data/rag/questionList_Staff_81.json, with schema staff_id|staff_gender|staff_name, with table name Staff and answer What are the names and genders of staff members who are sales persons but not clerical staff?.


-------------------
query     SELECT customer_id ,  customer_name FROM custo...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 82, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email
Writing questions to ./data/rag/questionList_Customers_82.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question for the given SQL query could be:

"What are the customer IDs and names of customers whose addresses are in Wyoming and who do not use credit cards as their payment method?".


-------------------
query     SELECT customer_id ,  customer_name FROM custo...
column    customer_id|payment_method_code|customer_code|...
table                                             Customers
Name: 83, dtype: object
Adding table Customers with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email

Writing questions to ./data/rag/questionList_Customers_83.json, with schema customer_id|payment_method_code|customer_code|customer_name|customer_address|customer_phone|customer_email, with table name Customers and answer A possible natural language question for the given SQL query could be:

"What are the customer IDs and names of customers whose addresses are in Wyoming and who do not use credit cards as their payment method?".


-------------------
query     SELECT avg(product_price) FROM products WHERE ...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 84, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_84.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What is the average price of products that belong to the 'Clothes' product type?.


-------------------
query     SELECT avg(product_price) FROM products WHERE ...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 85, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_85.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What is the average price of products that belong to the 'Clothes' product type?.


-------------------
query     SELECT product_name FROM products WHERE produc...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 86, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_86.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What is the name of the most expensive hardware product?.


-------------------
query     SELECT product_name FROM products WHERE produc...
column    product_id|product_type_code|product_name|prod...
table                                              Products
Name: 87, dtype: object
Adding table Products with schema product_id|product_type_code|product_name|product_price
Writing questions to ./data/rag/questionList_Products_87.json, with schema product_id|product_type_code|product_name|product_price, with table name Products and answer What is the name of the most expensive hardware product?.


-------------------