In [24]:
import boto3
import json

from langchain_community.utilities import SQLDatabase
from langchain.chains import create_sql_query_chain
from langchain_aws import ChatBedrock

In [47]:
!pip list

Package                       Version
----------------------------- -------------------
aiohttp                       3.9.3
aiosignal                     1.3.1
alabaster                     0.7.16
annotated-types               0.7.0
anthropic                     0.28.1
anyio                         4.3.0
argon2-cffi                   23.1.0
argon2-cffi-bindings          21.2.0
arrow                         1.3.0
astroid                       2.15.8
astropy                       6.0.0
astropy-iers-data             0.2024.3.25.0.29.50
asttokens                     2.4.1
async-lru                     2.0.4
async-timeout                 4.0.3
atomicwrites                  1.4.1
attrs                         23.2.0
audioread                     3.0.1
autopep8                      2.0.4
autovizwidget                 0.21.0
awscli                        1.33.12
Babel                         2.14.0
beautifulsoup4                4.12.3
binaryornot                   0.4.4
bitarray                      2.9.2
black                         24.3.0
bleach                        6.1.0
blinker                       1.7.0
bokeh                         3.4.0
boto3                         1.34.130
botocore                      1.34.130
Bottleneck                    1.3.8
Brotli                        1.1.0
brotlipy                      0.7.0
cached-property               1.5.2
certifi                       2024.2.2
cffi                          1.16.0
chardet                       5.2.0
charset-normalizer            3.3.2
click                         8.1.7
cloudpickle                   2.2.1
colorama                      0.4.6
comm                          0.2.2
contourpy                     1.2.0
cookiecutter                  2.6.0
coverage                      7.4.4
cryptography                  42.0.5
cycler                        0.12.1
Cython                        3.0.9
cytoolz                       0.12.3
dask                          2024.3.1
dask-expr                     1.0.5
dataclasses-json              0.6.7
debugpy                       1.8.1
decorator                     5.1.1
defusedxml                    0.7.1
diff-match-patch              20230430
dill                          0.3.8
distributed                   2024.3.1
distro                        1.9.0
docker                        6.1.3
docstring-to-markdown         0.15
docutils                      0.16
dparse                        0.6.3
entrypoints                   0.4
et-xmlfile                    1.1.0
Events                        0.5
exceptiongroup                1.2.0
executing                     2.0.1
faiss-cpu                     1.8.0
fastcache                     1.1.0
fastjsonschema                2.19.1
filelock                      3.13.3
flake8                        6.0.0
Flask                         3.0.2
Flask-Cors                    4.0.0
fonttools                     4.50.0
fqdn                          1.5.1
frozenlist                    1.4.1
fsspec                        2024.3.1
future                        1.0.0
gevent                        23.9.0.post1
gmpy2                         2.1.2
google-pasta                  0.2.0
greenlet                      3.0.3
gssapi                        1.8.3
h11                           0.14.0
h2                            4.1.0
h5py                          3.10.0
hdijupyterutils               0.21.0
hpack                         4.0.0
httpcore                      1.0.4
httpx                         0.27.0
huggingface-hub               0.23.4
hyperframe                    6.0.1
idna                          3.6
imagecodecs                   2024.1.1
imageio                       2.34.0
imagesize                     1.4.1
immutables                    0.20
importlib-metadata            6.11.0
importlib_resources           6.4.0
inflection                    0.5.1
iniconfig                     2.0.0
intervaltree                  3.1.0
ipykernel                     6.29.3
ipython                       8.25.0
ipython-genutils              0.2.0
ipywidgets                    8.1.3
isoduration                   20.11.0
isort                         5.13.2
itsdangerous                  2.1.2
jaraco.classes                3.3.1
jaraco.context                4.3.0
jaraco.functools              4.0.0
jedi                          0.18.2
jeepney                       0.8.0
jellyfish                     1.0.3
Jinja2                        3.1.3
jiter                         0.4.2
jmespath                      1.0.1
joblib                        1.3.2
jq                            1.7.0
json5                         0.9.24
jsonpatch                     1.33
jsonpointer                   2.4
jsonschema                    4.21.1
jsonschema-specifications     2023.12.1
jupyter                       1.0.0
jupyter_client                8.6.1
jupyter-console               6.6.3
jupyter_core                  5.7.2
jupyter-events                0.10.0
jupyter-lsp                   2.2.4
jupyter_server                2.13.0
jupyter_server_terminals      0.5.3
jupyterlab                    4.1.5
jupyterlab_pygments           0.3.0
jupyterlab_server             2.25.4
jupyterlab_widgets            3.0.11
keyring                       25.0.0
kiwisolver                    1.4.5
krb5                          0.5.1
langchain                     0.2.5
langchain-aws                 0.1.6
langchain-community           0.2.5
langchain-core                0.2.9
langchain-experimental        0.0.61
langchain-text-splitters      0.2.1
langsmith                     0.1.81
lazy_loader                   0.3
lazy-object-proxy             1.10.0
librosa                       0.10.2.post1
llvmlite                      0.42.0
locket                        1.0.0
lz4                           4.3.3
markdown-it-py                3.0.0
MarkupSafe                    2.1.5
marshmallow                   3.21.3
matplotlib                    3.8.3
matplotlib-inline             0.1.6
mccabe                        0.7.0
mdurl                         0.1.2
mistune                       3.0.2
mkl_fft                       1.3.8
mkl-service                   2.4.1
mock                          5.1.0
more-itertools                10.2.0
mpmath                        1.3.0
msgpack                       1.0.7
multidict                     6.0.5
multiprocess                  0.70.16
munkres                       1.1.4
mypy-extensions               1.0.0
nbclient                      0.10.0
nbconvert                     7.16.3
nbformat                      5.10.3
nest_asyncio                  1.6.0
networkx                      3.2.1
nltk                          3.8.1
nose                          1.3.7
notebook                      7.1.2
notebook_shim                 0.2.4
numba                         0.59.1
numexpr                       2.9.0
numpy                         1.22.4
numpydoc                      1.6.0
openpyxl                      3.1.2
opensearch-py                 2.6.0
orjson                        3.10.5
overrides                     7.7.0
packaging                     24.1
pandas                        2.2.1
pandocfilters                 1.5.0
parso                         0.8.3
partd                         1.4.1
path                          16.10.0
pathlib2                      2.3.7.post1
pathos                        0.3.2
pathspec                      0.12.1
patsy                         0.5.6
pexpect                       4.9.0
pickleshare                   0.7.5
pillow                        10.2.0
pip                           24.0
pkginfo                       1.10.0
pkgutil_resolve_name          1.3.10
platformdirs                  4.2.0
plotly                        5.19.0
pluggy                        1.4.0
ply                           3.11
pooch                         1.8.2
pox                           0.3.4
ppft                          1.7.6.8
prometheus_client             0.20.0
prompt-toolkit                3.0.42
protobuf                      4.25.3
psutil                        5.9.8
psycopg2                      2.9.9
psycopg2-binary               2.9.9
ptyprocess                    0.7.0
pure-eval                     0.2.2
py-cpuinfo                    9.0.0
py4j                          0.10.9.5
pyarrow                       15.0.2
pyarrow-hotfix                0.6
pyasn1                        0.6.0
pycodestyle                   2.10.0
pycosat                       0.6.6
pycparser                     2.21
pycryptodome                  3.20.0
pycurl                        7.45.3
pydantic                      2.7.4
pydantic_core                 2.18.4
pydocstyle                    6.3.0
pyerfa                        2.0.1.1
pyflakes                      3.0.1
Pygments                      2.17.2
pykerberos                    1.2.4
pylint                        2.17.7
pylint-venv                   3.0.3
pyls-spyder                   0.4.0
pynvml                        11.5.0
pyodbc                        5.1.0
pyOpenSSL                     24.0.0
pyparsing                     3.1.2
pypdf                         4.2.0
PyQt5                         5.15.9
PyQt5-sip                     12.12.2
PyQtWebEngine                 5.15.4
pyrsistent                    0.20.0
PySocks                       1.7.1
pyspark                       3.3.0
pyspnego                      0.9.1
pytest                        8.1.1
python-dateutil               2.9.0
python-json-logger            2.0.7
python-lsp-black              2.0.0
python-lsp-jsonrpc            1.1.2
python-lsp-server             1.7.4
python-slugify                8.0.4
pytoolconfig                  1.2.5
pytz                          2024.1
PyWavelets                    1.4.1
pyxdg                         0.28
PyYAML                        6.0.1
pyzmq                         25.1.2
QDarkStyle                    3.1
qstylizer                     0.2.2
QtAwesome                     1.3.0
qtconsole                     5.4.4
QtPy                          2.4.1
referencing                   0.34.0
regex                         2023.12.25
requests                      2.31.0
requests-kerberos             0.14.0
rfc3339-validator             0.1.4
rfc3986-validator             0.1.1
rich                          13.7.1
rope                          1.13.0
rpds-py                       0.18.0
rsa                           4.7.2
Rtree                         1.2.0
ruamel.yaml                   0.18.6
ruamel.yaml.clib              0.2.8
ruamel-yaml-conda             0.15.80
s3fs                          0.4.2
s3transfer                    0.10.1
safetensors                   0.4.3
sagemaker                     2.224.0
sagemaker_pyspark             1.4.5
schema                        0.7.7
scikit-image                  0.22.0
scikit-learn                  1.4.1.post1
scipy                         1.12.0
seaborn                       0.13.2
SecretStorage                 3.3.3
Send2Trash                    1.8.2
setuptools                    69.2.0
shap                          0.45.0
sip                           6.7.12
six                           1.16.0
slicer                        0.0.7
smdebug-rulesconfig           1.0.1
sniffio                       1.3.1
snowballstemmer               2.2.0
sortedcontainers              2.4.0
soundfile                     0.12.1
soupsieve                     2.5
soxr                          0.3.7
sparkmagic                    0.21.0
Sphinx                        7.2.6
sphinxcontrib-applehelp       1.0.8
sphinxcontrib-devhelp         1.0.6
sphinxcontrib-htmlhelp        2.0.5
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.7
sphinxcontrib-serializinghtml 1.1.10
sphinxcontrib-websupport      1.2.7
spyder                        5.4.5
spyder-kernels                2.4.4
SQLAlchemy                    2.0.31
stack-data                    0.6.2
statsmodels                   0.14.1
sympy                         1.12
tables                        3.9.2
tabulate                      0.9.0
tblib                         3.0.0
tenacity                      8.2.3
termcolor                     2.4.0
terminado                     0.18.1
testpath                      0.6.0
text-unidecode                1.3
textdistance                  4.5.0
threadpoolctl                 3.4.0
three-merge                   0.1.1
tifffile                      2024.2.12
tinycss2                      1.2.1
tokenizers                    0.19.1
toml                          0.10.2
tomli                         2.0.1
tomlkit                       0.12.4
toolz                         0.12.1
tornado                       6.4
tqdm                          4.66.2
traitlets                     5.14.2
transformers                  4.41.2
typed-ast                     1.5.5
types-python-dateutil         2.9.0.20240316
typing_extensions             4.10.0
typing-inspect                0.9.0
typing-utils                  0.1.0
tzdata                        2024.1
ujson                         5.9.0
unicodedata2                  15.1.0
uri-template                  1.3.0
urllib3                       2.2.1
watchdog                      4.0.0
wcwidth                       0.2.13
webcolors                     1.13
webencodings                  0.5.1
websocket-client              1.7.0
Werkzeug                      3.0.1
whatthepatch                  1.0.5
wheel                         0.43.0
widgetsnbextension            4.0.11
wrapt                         1.16.0
wurlitzer                     3.0.3
XlsxWriter                    3.1.9
xyzservices                   2023.10.1
yapf                          0.40.1
yarl                          1.9.4
zict                          3.0.0
zipp                          3.17.0
zope.event                    5.0
zope.interface                6.2

### Connect DB

In [20]:
db = SQLDatabase.from_uri("sqlite:///data/department_store.sqlite")
db.get_usable_table_names()

['Addresses',
 'Customer_Addresses',
 'Customer_Orders',
 'Customers',
 'Department_Store_Chain',
 'Department_Stores',
 'Departments',
 'Order_Items',
 'Product_Suppliers',
 'Products',
 'Staff',
 'Staff_Department_Assignments',
 'Supplier_Addresses',
 'Suppliers']

In [21]:
db.run("SELECT * FROM Customers LIMIT 10;")

"[(1, 'Credit Card', '401', 'Ahmed', '75099 Tremblay Port Apt. 163\\nSouth Norrisland, SC 80546', '254-072-4068x33935', 'margarett.vonrueden@example.com'), (2, 'Credit Card', '665', 'Chauncey', '8408 Lindsay Court\\nEast Dasiabury, IL 72656-3552', '+41(8)1897032009', 'stiedemann.sigrid@example.com'), (3, 'Direct Debit', '844', 'Lukas', '7162 Rodolfo Knoll Apt. 502\\nLake Annalise, TN 35791-8871', '197-417-3557', 'joelle.monahan@example.com'), (4, 'Direct Debit', '662', 'Lexus', '9581 Will Flat Suite 272\\nEast Cathryn, WY 30751-4404', '+08(3)8056580281', 'gbrekke@example.com'), (5, 'Credit Card', '848', 'Tara', '5065 Mraz Fields Apt. 041\\nEast Chris, NH 41624', '1-064-498-6609x051', 'nicholas44@example.com'), (6, 'Credit Card', '916', 'Jon', '841 Goyette Unions\\nSouth Dionbury, NC 62021', '(443)013-3112x528', 'cconroy@example.net'), (7, 'Credit Card', '172', 'Cristobal', '8327 Christiansen Lakes Suite 409\\nSchneiderland, IA 93624', '877-150-8674x63517', 'shawna.cummerata@example.net'), (8, 'Direct Debit', '927', 'Adah', '5049 Hand Land\\nCoymouth, IL 97300-7731', '1-695-364-7586x59256', 'kathlyn24@example.org'), (9, 'Credit Card', '808', 'Yasmeen', '3558 Witting Meadow Apt. 483\\nLake Moriahbury, OH 91556-2122', '587.398.2400x31176', 'ludwig54@example.net'), (10, 'Credit Card', '887', 'Karson', '7308 Joan Lake Suite 346\\nLizethtown, DE 56522', '857-844-9339x40140', 'moriah91@example.com')]"

### Langchain을 통한 DB 연결

https://python.langchain.com/v0.1/docs/use_cases/sql/prompting/

In [23]:
region_name = "us-west-2"

model_kwargs = {  # anthropic
    "anthropic_version": "bedrock-2023-05-31",
    "max_tokens": 2048,
    "temperature": 0,
}

llm = ChatBedrock(
    model_id="anthropic.claude-3-sonnet-20240229-v1:0",  # 파운데이션 모델 지정
    model_kwargs=model_kwargs,
    region_name=region_name,
)  # Claude 속성 구성

In [26]:
chain = create_sql_query_chain(llm, db)

In [ ]:
type(chain.get_prompts()[0])

langchain_core.prompts.few_shot.FewShotPromptTemplate

In [31]:
chain.get_prompts()[0].pretty_print()

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [32]:
context = db.get_context()
print(list(context))
print(context["table_info"])

['table_info', 'table_names']

CREATE TABLE "Addresses" (
	address_id INTEGER,
	address_details VARCHAR(255),
	PRIMARY KEY (address_id)
)

/*
3 rows from Addresses table:
address_id	address_details
1	28481 Crist Circle
East Burdettestad, IA 21232
2	0292 Mitchel Pike
Port Abefurt, IA 84402-4249
3	4062 Mante Place
West Lindsey, DE 76199-8015
*/


CREATE TABLE "Customer_Addresses" (
	customer_id INTEGER NOT NULL,
	address_id INTEGER NOT NULL,
	date_from DATETIME NOT NULL,
	date_to DATETIME,
	PRIMARY KEY (customer_id, address_id),
	FOREIGN KEY(customer_id) REFERENCES "Customers" (customer_id),
	FOREIGN KEY(address_id) REFERENCES "Addresses" (address_id)
)

/*
3 rows from Customer_Addresses table:
customer_id	address_id	date_from	date_to
2	9	2017-12-11 05:00:22	2018-03-20 20:52:34
1	6	2017-10-07 23:00:26	2018-02-28 14:53:52
10	8	2017-04-04 20:00:27	2018-02-27 20:08:33
*/


CREATE TABLE "Customer_Orders" (
	order_id INTEGER,
	customer_id INTEGER NOT NULL,
	order_status_code VARCHAR(10) NOT NULL,
	order_date DATETIME NOT NULL,
	PRIMARY KEY (order_id),
	FOREIGN KEY(customer_id) REFERENCES "Customers" (customer_id)
)

/*
3 rows from Customer_Orders table:
order_id	customer_id	order_status_code	order_date
1	12	Completed	2018-02-10 15:44:48
2	4	New	2018-01-31 17:49:18
3	1	PartFilled	2018-02-26 12:39:33
*/


CREATE TABLE "Customers" (
	customer_id INTEGER,
	payment_method_code VARCHAR(10) NOT NULL,
	customer_code VARCHAR(20),
	customer_name VARCHAR(80),
	customer_address VARCHAR(255),
	customer_phone VARCHAR(80),
	customer_email VARCHAR(80),
	PRIMARY KEY (customer_id)
)

/*
3 rows from Customers table:
customer_id	payment_method_code	customer_code	customer_name	customer_address	customer_phone	customer_email
1	Credit Card	401	Ahmed	75099 Tremblay Port Apt. 163
South Norrisland, SC 80546	254-072-4068x33935	margarett.vonrueden@example.com
2	Credit Card	665	Chauncey	8408 Lindsay Court
East Dasiabury, IL 72656-3552	+41(8)1897032009	stiedemann.sigrid@example.com
3	Direct Debit	844	Lukas	7162 Rodolfo Knoll Apt. 502
Lake Annalise, TN 35791-8871	197-417-3557	joelle.monahan@example.com
*/


CREATE TABLE "Department_Store_Chain" (
	dept_store_chain_id INTEGER,
	dept_store_chain_name VARCHAR(80),
	PRIMARY KEY (dept_store_chain_id)
)

/*
3 rows from Department_Store_Chain table:
dept_store_chain_id	dept_store_chain_name
1	South
2	West
3	East
*/


CREATE TABLE "Department_Stores" (
	dept_store_id INTEGER,
	dept_store_chain_id INTEGER,
	store_name VARCHAR(80),
	store_address VARCHAR(255),
	store_phone VARCHAR(80),
	store_email VARCHAR(80),
	PRIMARY KEY (dept_store_id),
	FOREIGN KEY(dept_store_chain_id) REFERENCES "Department_Store_Chain" (dept_store_chain_id)
)

/*
3 rows from Department_Stores table:
dept_store_id	dept_store_chain_id	store_name	store_address	store_phone	store_email
1	1	store_name	01290 Jeremie Parkway Suite 753
North Arielle, MS 51249	(948)944-5099x2027	bmaggio@example.com
2	3	store_name	082 Purdy Expressway
O'Connellshire, IL 31732	877-917-5029	larissa10@example.org
3	4	store_name	994 Travis Plains
North Wadeton, WV 27575-3951	1-216-312-0375	alexandro.mcclure@example.net
*/


CREATE TABLE "Departments" (
	department_id INTEGER,
	dept_store_id INTEGER NOT NULL,
	department_name VARCHAR(80),
	PRIMARY KEY (department_id),
	FOREIGN KEY(dept_store_id) REFERENCES "Department_Stores" (dept_store_id)
)

/*
3 rows from Departments table:
department_id	dept_store_id	department_name
1	5	human resource
2	11	purchasing
3	4	marketing
*/


CREATE TABLE "Order_Items" (
	order_item_id INTEGER,
	order_id INTEGER NOT NULL,
	product_id INTEGER NOT NULL,
	PRIMARY KEY (order_item_id),
	FOREIGN KEY(product_id) REFERENCES "Products" (product_id),
	FOREIGN KEY(order_id) REFERENCES "Customer_Orders" (order_id)
)

/*
3 rows from Order_Items table:
order_item_id	order_id	product_id
1	9	7
2	1	3
3	5	2
*/


CREATE TABLE "Product_Suppliers" (
	product_id INTEGER NOT NULL,
	supplier_id INTEGER NOT NULL,
	date_supplied_from DATETIME NOT NULL,
	date_supplied_to DATETIME,
	total_amount_purchased VARCHAR(80),
	total_value_purchased DECIMAL(19, 4),
	PRIMARY KEY (product_id, supplier_id),
	FOREIGN KEY(product_id) REFERENCES "Products" (product_id),
	FOREIGN KEY(supplier_id) REFERENCES "Suppliers" (supplier_id)
)

/*
3 rows from Product_Suppliers table:
product_id	supplier_id	date_supplied_from	date_supplied_to	total_amount_purchased	total_value_purchased
4	3	2017-06-19 00:49:05	2018-03-24 19:29:18	89366.05	36014.6000
8	4	2017-07-02 00:35:12	2018-03-25 07:30:49	25085.57	36274.5600
3	3	2017-10-14 19:15:37	2018-03-24 02:29:44	15752.45	7273.7400
*/


CREATE TABLE "Products" (
	product_id INTEGER,
	product_type_code VARCHAR(10) NOT NULL,
	product_name VARCHAR(80),
	product_price DECIMAL(19, 4),
	PRIMARY KEY (product_id)
)

/*
3 rows from Products table:
product_id	product_type_code	product_name	product_price
1	Clothes	red jeans	734.7300
2	Clothes	yellow jeans	687.2300
3	Clothes	black jeans	695.1600
*/


CREATE TABLE "Staff" (
	staff_id INTEGER,
	staff_gender VARCHAR(1),
	staff_name VARCHAR(80),
	PRIMARY KEY (staff_id)
)

/*
3 rows from Staff table:
staff_id	staff_gender	staff_name
1	1	Tom
2	1	Malika
3	1	Katelynn
*/


CREATE TABLE "Staff_Department_Assignments" (
	staff_id INTEGER NOT NULL,
	department_id INTEGER NOT NULL,
	date_assigned_from DATETIME NOT NULL,
	job_title_code VARCHAR(10) NOT NULL,
	date_assigned_to DATETIME,
	PRIMARY KEY (staff_id, department_id),
	FOREIGN KEY(staff_id) REFERENCES "Staff" (staff_id),
	FOREIGN KEY(department_id) REFERENCES "Departments" (department_id)
)

/*
3 rows from Staff_Department_Assignments table:
staff_id	department_id	date_assigned_from	job_title_code	date_assigned_to
5	4	2017-06-11 22:55:20	Department Manager	2018-03-23 21:59:11
10	5	2017-12-18 19:12:15	Sales Person	2018-03-23 20:25:24
1	5	2018-02-14 03:15:29	Clerical Staff	2018-03-24 19:57:56
*/


CREATE TABLE "Supplier_Addresses" (
	supplier_id INTEGER NOT NULL,
	address_id INTEGER NOT NULL,
	date_from DATETIME NOT NULL,
	date_to DATETIME,
	PRIMARY KEY (supplier_id, address_id),
	FOREIGN KEY(supplier_id) REFERENCES "Suppliers" (supplier_id),
	FOREIGN KEY(address_id) REFERENCES "Addresses" (address_id)
)

/*
3 rows from Supplier_Addresses table:
supplier_id	address_id	date_from	date_to
4	5	2016-09-22 16:41:31	2018-03-14 20:06:37
3	9	2014-11-07 19:18:49	2018-03-16 16:39:58
3	2	2008-11-22 12:01:25	2018-03-02 19:50:22
*/


CREATE TABLE "Suppliers" (
	supplier_id INTEGER,
	supplier_name VARCHAR(80),
	supplier_phone VARCHAR(80),
	PRIMARY KEY (supplier_id)
)

/*
3 rows from Suppliers table:
supplier_id	supplier_name	supplier_phone
1	Lidl	(692)009-5928
2	AB Store	1-483-283-4742
3	Tesco	287-071-1153x254
*/

In [35]:
prompt_with_context = chain.get_prompts()[0].partial(table_info=context["table_info"])
print(prompt_with_context.pretty_repr()[:1500])

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE "Addresses" (
	address_id INTEGER,
	address_details VARCHAR(255),
	PRIMARY KEY (address_id)
)

/*
3 rows from Addresses table:
address_id	address_details
1	28481 Crist Circle
East Burdettestad, IA 21232
2	0292 Mitchel Pike
Port Abefurt, IA 84402-4249
3	4062 Mante Place
West Lindsey, DE 76199-8015
*/


CREATE TABLE "Customer_Addresses" (
	customer_id INTEGER NOT NULL,
	address_id INTEGER NOT NULL,
	date_f

### Fewshot

In [37]:
examples = [
    {
        "input": "What are the ids of the top three products that were purchased in the largest amount?", 
         "query": "SELECT product_id FROM product_suppliers ORDER BY total_amount_purchased DESC LIMIT 3"
    },
    {
        "input": "Give the ids of the three products purchased in the largest amounts.",
        "query": "SELECT product_id FROM product_suppliers ORDER BY total_amount_purchased DESC LIMIT 3"
    },
    {
        "input": "What are the product id and product type of the cheapest product?",
        "query": "SELECT product_id ,  product_type_code FROM products ORDER BY product_price LIMIT 1"
    },
    {
        "input": "Give the id and product type of the product with the lowest price.",
        "query": "SELECT product_id ,  product_type_code FROM products ORDER BY product_price LIMIT 1",
    },
    {
        "input": "Find the number of different product types.",
        "query": "SELECT count(DISTINCT product_type_code) FROM products"
    }
]

In [38]:
from langchain_core.prompts import FewShotPromptTemplate, PromptTemplate

example_prompt = PromptTemplate.from_template("User input: {input}\nSQL query: {query}")
prompt = FewShotPromptTemplate(
    examples=examples[:5],
    example_prompt=example_prompt,
    prefix="You are a SQLite expert. Given an input question, create a syntactically correct SQLite query to run. Unless otherwise specificed, do not return more than {top_k} rows.\n\nHere is the relevant table info: {table_info}\n\nBelow are a number of examples of questions and their corresponding SQL queries.",
    suffix="User input: {input}\nSQL query: ",
    input_variables=["input", "top_k", "table_info"],
)

In [40]:
print(prompt.format(input="How many artists are there?", top_k=3, table_info="foo"))

You are a SQLite expert. Given an input question, create a syntactically correct SQLite query to run. Unless otherwise specificed, do not return more than 3 rows.

Here is the relevant table info: foo

Below are a number of examples of questions and their corresponding SQL queries.

User input: What are the ids of the top three products that were purchased in the largest amount?
SQL query: SELECT product_id FROM product_suppliers ORDER BY total_amount_purchased DESC LIMIT 3

User input: Give the ids of the three products purchased in the largest amounts.
SQL query: SELECT product_id FROM product_suppliers ORDER BY total_amount_purchased DESC LIMIT 3

User input: What are the product id and product type of the cheapest product?
SQL query: SELECT product_id ,  product_type_code FROM products ORDER BY product_price LIMIT 1

User input: Give the id and product type of the product with the lowest price.
SQL query: SELECT product_id ,  product_type_code FROM products ORDER BY product_price LIMIT 1

User input: Find the number of different product types.
SQL query: SELECT count(DISTINCT product_type_code) FROM products

User input: How many artists are there?
SQL query:

In [41]:
chain = create_sql_query_chain(llm, db, prompt)
chain.invoke({"question": "how many artists are there?"})

'Unfortunately, there is no table related to artists in the provided database schema. The tables seem to be related to a department store chain, customers, orders, products, suppliers, staff, and addresses. Without a table containing artist information, I cannot provide a meaningful SQL query to count the number of artists.'

In [44]:
chain = create_sql_query_chain(llm, db, prompt)
result = chain.invoke({"question": "Return the address of customer 10."})
result

'To return the address of customer with customer_id 10, we can join the Customers and Customer_Addresses tables and filter for customer_id = 10:\n\nSELECT a.address_details\nFROM Customers c\nJOIN Customer_Addresses ca ON c.customer_id = ca.customer_id  \nJOIN Addresses a ON ca.address_id = a.address_id\nWHERE c.customer_id = 10\nLIMIT 1;\n\nThis query joins the Customers, Customer_Addresses, and Addresses tables to get the address_details for the given customer_id. The LIMIT 1 ensures we only return one row.'

In [45]:
from io import StringIO
import sys
import textwrap


def print_ww(*args, width: int = 100, **kwargs):
    """Like print(), but wraps output to `width` characters (default 100)"""
    buffer = StringIO()
    try:
        _stdout = sys.stdout
        sys.stdout = buffer
        print(*args, **kwargs)
        output = buffer.getvalue()
    finally:
        sys.stdout = _stdout
    for line in output.splitlines():
        print("\n".join(textwrap.wrap(line, width=width)))

In [46]:
print_ww(result)

To return the address of customer with customer_id 10, we can join the Customers and
Customer_Addresses tables and filter for customer_id = 10:

SELECT a.address_details
FROM Customers c
JOIN Customer_Addresses ca ON c.customer_id = ca.customer_id
JOIN Addresses a ON ca.address_id = a.address_id
WHERE c.customer_id = 10
LIMIT 1;

This query joins the Customers, Customer_Addresses, and Addresses tables to get the address_details
for the given customer_id. The LIMIT 1 ensures we only return one row.